[submodule "42_libft"]
	path = libft
	url = git@github.com:WSSMRKS/42_libft.git
	branch = main
	update = rebase
[submodule "42_push_swap_tester"]
	path = 42_push_swap_tester
	url = git@github.com:WSSMRKS/42_push_swap_tester.git
	branch = main
	update = rebase
